<div>
 <div>
   <h1>
     Booth's Book Club
   </h1>
 </div>
</div>


<hr>


 <div>
   <h1>
     This month's book: <%= @active_book.at(0).title %>
   </h1>
 </div>

           <form action="/members/profile/<%= current_member.id%>" method="get">
      <button>
        Update my reading progress
      </button>
    </form>

<hr>
<h2>Next meeting: <%= @active_meeting.at(0).date.strftime("%D")  %>
</h2>

    <form action="/insert_attendance" method="post">
        <input type="hidden" id="member_id_box" name="query_member_id" value="<% current_member.id%>">
        <input type="hidden" id="meeting_id_box" name="query_meeting_id" value="<% @active_meeting.at(0).id%>">
      </div>
      <button>
        Check-in
      </button>
    </form>
  </div>
</div>


<hr>
<h2>Menu</h2>

<li>
         <a href="/meetings">
           Past meetings and books
         </a>
         
</li>

<li>
         <a href="/members">
           Book Club Members
         </a>
         
</li>

 <% if current_member == nil %>
<div> </div>
    <% else %>

<li>
         <a href="/meetings/new">
           Co-chairs area
         </a>
</li>

     <% end %>


<hr>
